* {
    background-color: black;
    color: aliceblue;
}
h1{
    text-align: center;
}
div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-style:initial;
}
.one {
    background-color: crimson;
    padding: 2.5em;
    margin: 1em;
    
}
.two{
    background-color: blueviolet;
    padding: 2.5em;
    margin: 1em;
}
.three{
    background-color: blue;
    padding: 2.5em;
    margin: 1em;
}
.four{
    background-color: cornflowerblue;
    padding: 2.5em;
    margin: 1em;
}
.five{
    background-color: aqua;
    padding: 2.5em;
    margin: 1em;
}
.six{
    background-color: darkgreen;
    padding: 2.5em;
    margin: 1em;
}
.seven{
    background-color: chartreuse;
    padding: 2.5em;
    margin: 1em;
}
.eight{
    background-color: darkkhaki;
    padding: 2.5em;
    margin: 1em;
}
.nine{
    background-color: darkgoldenrod;
    padding: 2.5em;
    margin: 1em;
}
.ten{
    background-color: brown;
    padding: 2.5em;
    margin: 1em;
}
#para{
    text-align: center;

}
a:hover {
    color: blue;
}